<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>insta485</title>
</head>
<body>
<div class="headline">
    <a href="{{ url_for('show_index') }}" class="logo"><img alt="Image Not Loaded" src="/static/images/ins.png"></a>
    <div class="right">
        <a href="/explore/">explore</a>
        |
        <a href="/users/{{ username }}/">{{ username }}</a>
    </div>
</div>
<h2>{{ username }}</h2>
<form action="/accounts/?target=/accounts/create/" method="post"
      enctype="multipart/form-data">
    <input type="submit" name="delete" value="confirm delete account"/>
    <input type="hidden" name="operation" value="delete"/>
</form>
</body>
</html>