<!DOCTYPE html>
<html lang="en">
    <head>  
        <link rel="stylesheet" href="{{url_for('static_uploads', filename='css/style.css')}}">
        <title>insta485</title>
    </head>
    <body>
        <div class="headline">
            <a href="/" class="logo"><img alt="Image Not Loaded" src="{{url_for('static_uploads', filename='images/ins.png')}}"></a>
            <div class="right">  
                <a href="/explore/">explore</a>
                |
                <a href="/users/{{logname}}/">{{logname}}</a>
            </div>
        </div>
        <div class="username">Followers</div>
        {% for follower in followers %}
            <div class="post">  
                <div class="posthead">  
                    <div class="profile"><img alt="Image Not Loaded" src="{{url_for('uploads', filename=follower.filename)}}"></div>
                    <a href="/users/{{follower.username}}/">{{follower.username}}</a>
                    {% if logname != follower.username %}
                        <div class="time">
                            {% if follower.username in people_followers %}
                                following
                                <form action="/following/?target={{url_for('followers', username=current_username)}}" method="post" enctype="multipart/form-data">
                                  <input type="submit" name="unfollow" value="unfollow"/>
                                  <input type="hidden" name="username" value="{{follower.username}}"/>
                                  <input type="hidden" name="operation" value="unfollow"/>
                                </form>
                            {% else %}
                                not following
                                <form action="/following/?target={{url_for('followers', username=current_username)}}" method="post" enctype="multipart/form-data">
                                  <input type="submit" name="follow" value="follow"/>
                                  <input type="hidden" name="username" value="{{follower.username}}"/>
                                  <input type="hidden" name="operation" value="follow"/>
                                </form>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </body>
</html>
