<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{url_for('static_uploads', filename='css/style.css')}}">
        <title>insta485</title>
    </head>
    <body>
        <div class="headline">
            <a href="{{ url_for('show_index') }}" class="logo"><img alt="Image Not Loaded" src="{{url_for('static_uploads', filename='images/ins.png')}}"></a>
            <div class="right">
                <span>login</span>
            </div>
        </div>
        <form action="/accounts/?target={{ url_for('show_index') }}" method="post" enctype="multipart/form-data">
            <label for="username">Username : </label><br>
              <input id="username" type="text" name="username" required/><br>
            <label for="password">Password: </label><br>
              <input id="password" type="password" name="password" required/><br><br>
              <input type="submit" value="login"/>
              <input type="hidden" name="operation" value="login"/>
        </form>
        <h2>Don't have an account? <a href="/accounts/create/">Sign Up</a></h2>
    </body>
</html>