<!DOCTYPE html>
<html lang="en">
    <head>  
        <link rel="stylesheet" href="{{url_for('static_uploads', filename='css/style.css')}}">
        <title>insta485</title>
    </head>
    <body>
        <div class="headline">
            <a href="/" class="logo"><img alt="Image Not Loaded" src="{{url_for('static_uploads', filename='images/ins.png')}}"></a>
            <div class="right">  
                <a href="/explore/">explore</a>
                |
                <a href="/users/{{logname}}/">{{logname}}</a>
            </div>
        </div>
        <div class="post">  
            <div class="posthead">  
                <a href="/users/{{post.owner}}/" class="profile"><img alt="Image Not Loaded" src="{{url_for('uploads', filename=post.owner_img_url)}}"></a>
                <a href="/users/{{post.owner}}/">{{post.owner}}</a>
                <a href="/posts/{{post.postid}}/" class="time">{{post.created}}</a>
            </div>
            <div class="photo"><img alt="Image Not Loaded" src="{{url_for('uploads', filename=post.filename)}}"></div>
            <div class="comment">
                {% if likes == 1 %}
                    {{likes}} like
                {% else %}
                    {{likes}} likes
                {% endif %}
            </div>
            {% for comment in comments %}
                <div class="comment"><a href="/users/{{comment.owner}}/">{{comment.owner}}</a> {{comment.text}}</div>
                {% if comment.owner == logname %}
                        <form action="{{ url_for('handle_comments', target=url_for('show_post', postid=post.postid)) }}" method="post" enctype="multipart/form-data">
                          <input type="hidden" name="operation" value="delete"/>
                          <input type="hidden" name="commentid" value="comment.commentid"/>
                          <input type="submit" name="uncomment" value="delete"/>
                        </form>
                {% endif %}
            {% endfor %}

            {% if logname in people_liked %}
                    <form action="{{ url_for('handle_likes', target=url_for('show_post', postid=post.postid)) }}" method="post" enctype="multipart/form-data">
                      <input type="hidden" name="operation" value="unlike"/>
                      <input type="hidden" name="postid" value="{{post.postid}}"/>
                      <input type="submit" name="unlike" value="unlike"/>
                    </form>
            {% else %}
                    <form action="{{ url_for('handle_likes', target=url_for('show_post', postid=post.postid)) }}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="operation" value="like"/>
                        <input type="hidden" name="postid" value="{{post.postid}}"/>
                        <input type="submit" name="like" value="like"/>
                    </form>
            {% endif %}
            <form action="{{ url_for('handle_comments', target=url_for('show_post', postid=post.postid)) }}" method="post" enctype="multipart/form-data">
                  <input type="hidden" name="operation" value="create"/>
                  <input type="hidden" name="postid" value="{{post.postid}}"/>
                  <input type="text" name="text" required/>
                  <input type="submit" name="comment" value="comment"/>
            </form>

            {% if post.owner == logname %}
                <form action="<FIXME_POSTS_URL_HERE>?target=<FIXME_LOGGED_IN_USER_PAGE_URL_HERE>" method="post" enctype="multipart/form-data">
                  <input type="hidden" name="operation" value="delete"/>
                  <input type="hidden" name="postid" value="post.postid"/>
                  <input type="submit" name="delete" value="delete this post"/>
                </form>
            {% endif %}
        </div>
    </body>
</html>
