<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{url_for('static_uploads', filename='css/style.css')}}">
        <title>insta485</title>
    </head>
    <body>
        <div class="headline">
            <a href="{{ url_for('show_index') }}" class="logo"><img alt="Image Not Loaded" src="{{url_for('static_uploads', filename='images/ins.png')}}"></a>
            <div class="right">
                <a href="/explore/">explore</a>
                |
                <a href="/users/{{logname}}/">{{logname}}</a>
            </div>
        </div>
        <form action="/accounts/?target=/accounts/password/" method="post" enctype="multipart/form-data">
               <label for="password">Old Password </label><br>
              <input type="password" id="password" name="password" required/><br>
              <label for="new_password1">New password </label><br>
              <input type="password" id="new_password1" name="new_password1" required/><br>
              <label for="new_password2">New password, again </label><br>
              <input type="password" id="new_password2" name="new_password2" required/><br><br>
              <input type="submit" name="update_password" value="submit"/>
              <input type="hidden" name="operation" value="update_password"/>
        </form>
        <a href="/accounts/edit/">Back to edit account</a>
    </body>
</html>